extends ../layout

block content
  .container
    h1 Completed
    ol
      each completedTask, i in todoTasks
        if completedTask.done === true
          li.completed
            = completedTask.name
            |  (
            = completedTask.dateCompleted
            |)