extends ../layout

block content
  .container
    h1 TO-DO List
    h3 Welcome to the Todo app by Yasmina Gavaldà. Please enjoy.
    br
    button.doneAll.btn.btn-success All done
    form(action="tasks", method="POST")
      .input-group
        input.btn(name="task")
        button.btn.btn-primary Add task
    br
    ul
      each task, i in todoTasks
        li.task-item
          button.done.btn.btn-success.pull-left(data-id=task.id) Done
          .info-task
            span.taskname= task.name
            span= task.date
            button.remove.btn.btn-danger.pull-right(data-id=task.id) Remove task